services:
  jarvis-agent:
    image: nginx:alpine
    container_name: jarvis-agent
    restart: unless-stopped

    volumes:
      # simple static site content (you can drop an index.html in here later)
      - /opt/jarvis/data:/usr/share/nginx/html:ro

    networks:
      - jarvis_net

    # internal port only; NPM will forward to this
    expose:
      - "80"
##
##
  jarvis-brain:
    build: ./brain
    container_name: jarvis-brain
    restart: unless-stopped
    networks:
      - jarvis_net
    expose:
      - "8000"

networks:
  jarvis_net:
    external: true
